/* layout */
@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
*,
.font {
  font-family: "Kanit";
}
.container {
    padding: 1rem;
}
ion-content {
    --background: url('/images/background.jpg') 0 0/100% 100% no-repeat;
    --color: #fff;
    justify-content: center;
    align-items: center;
  }
  
ion-input{
    color: #222222 !important; 
    text-align: left !important;
   
    background-color: white;
    border: solid 1px #adadad;
    border-radius: 0.3rem;
    margin: 0.5rem 0rem 1rem 0rem;
    width:100%;
    --placeholder-color: #ddd;
    --placeholder-opacity: 0.8;

    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px !important;;
    --padding-top: 10px;
}

.px-1{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.justify-content-start{
    justify-content: start;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-end{
    justify-content: end;
}